%html
  %head
  %body
    .wrapper
      = render 'side_bar'
      .chat-main
        .main-header
          .main-header__left-box
            %h2{ :class => 'main-header__left-box__current-group', :data-group_id =>'2033'} 
          %a{ href:"/groups/2033/edit"}
          .input-box
            %input{ :placeholder => 'type a message', :class =>'input-box__text', :type => 'text', :name => 'message[content]', :id => 'message_content'}
            %label{ :class => 'input-box__image', :for =>'message_image'}
              %i{ :class =>'fa fa-image'}
              %input{ :class =>'input-box__image__file', :type =>'file', :name => 'message[image]', :id=> 'message_image'}
            %input{ :type => 'submit', :name => 'commit', :value =>'Send', :class =>'submit-btn', :data-disable-with =>'Send'} 